*{margin: 0; padding: 0;}
header, main, footer, article, nav, aside, section {
	display: block;
}

#wrapperLO1 {
	width: 1000px;
	height: 1000px;
	margin: 0px auto;
}

#logoLayout1 {
	top: 38px;
	width: 78px;
	height: 79px;
	background: url(../images/ggIcon.png);
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	top: 11px;
	left: 104px;
}

#littleBox1 {
	top: 89px;
	left: 342px;
	width: 126px;
	height: 94px;
	opacity: 0.6;
}

#wrapperLO1 section {
	width: 849px;
	height: 268px;
	float: left;
	background-color: #ee5f5b;
	position: relative;
	left: 30px;
}

#BottomBox1 {
	top: 492px;
	left: 218px;
	width: 692px;
	height: 175px;
	opacity: 0.6;
	position: relative;
}

#wrapperLO1 nav a {
  	float: left;
    text-align: center;
    margin: 0px auto;
    width: 242px;
    height:57px;
	line-height:58px;
	text-decoration: none;
	font-family: verdana;
	color: #ffffff;
}

.clear {
	clear:both;
}

.LinkLayout1A{
background-color:#000000;
}

article {
	position: absolute;
	background-color: #000000;
}


#wrapperLO1 header {
	height: 183px;
	width: 1000px;
}

#wrapperLO1 nav {
	width: 727px;
	height: 57px;
	background-color: #b94a48;
	float: right;
	position: relative;
	top: 47px;
}

#wrapperLO1 aside {
	width: 121px;
	height: 696px;
	float: left;
	background-color: #f2dede;
}

#wrapperLO1 footer {
	width: 1000px;
	height: 121px;
	background-color: #d6d6d6;
}



/*layOut2*/

#wrapperLO2 {
	width: 1000px;
	height: 1000px;
	margin: 0px auto;
}


#logoLayout2 {
	width: 78px;
	height: 79px;
	background: url(../images/ggIcon.png);
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px auto;
	position: relative;
	top: 38px;
}

#wrapperLO2 header {
	height: 193px;
	width: 1000px;
}


#wrapperLO2 nav a {
  	float: left;
    width: 243px;
    height:58px;
	line-height:58px;
	text-decoration: none;
	color: #ffffff;
	font-family: verdana;
}

.clear {
	clear:both;
}

#wrapperLO2 nav {
	width: 243px;
	height: 757px;
	background-color: #000000;
	float: left;
	position: relative;
}


#wrapperLO2 section {
	opacity: 0.6;
	background-color: #000000;
	position: relative;
	float: left;
}

.topBox2A {
	height: 366px;
	width: 212px;
	left: 30px;
}

.topBox2B {
	height: 560px;
	width: 212px;
	left: 272px;
}

.topBox2C {
	height: 223px;
	width: 212px;
	left: 514px;
}

.bottomBox2A {
	height: 500px;
	width: 212px;
	top: 385px;
	left: 30px;
}

.bottomBox2B {
	height: 306px;
	width: 212px;
	top: 579px;
	left: 272px;
}

.LinkLayout2B {
background-color: #b94a48;
}

#wrapperLO2 main {
	background-color:#b94a48;
	width: 100%;
	height: 757px;
	overflow: hidden;
}

#wrapperLO2 footer {
	position:fixed;
	height:50px;
	width:1000px;
   	bottom:0px;
	background-color:#d6d6d6;
}
/*/

/*layOut3*/

#wrapperLO3 {
	width: 1000px;
	height: 1000px;
	margin: 0px auto;
}

#logoLayout3 {
	width: 78px;
	height: 79px;
	background: url(../images/ggIcon.png);
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 22px;
	left: 20px;
}

#LO3TopLeft {
	width: 500px;
	height: 500px;
	position: relative;
	float: left;
	top: 0px;
}

#wrapperLO3 img {
	position: absolute;
	top: 207px;
	left: 207px;
}

#wrapperLO3 nav {
	width: 500px;
	height: 62px;
	background-color: #b94a48;
	float: left;
	position: absolute;
	top: 438px;
	opacity: 0.6;
}

#wrapperLO3 nav a {
  	float: left;
    text-align: center;
    width: 166.5px;
    height:62px;
	line-height:58px;
	text-decoration: none;
	font-family: verdana;
	color: #ffffff;
}

.clear {
	clear:both;
}

#wrapperLO3 nav a.LinkLayout3C{
	background-color:#000000;
	width: 167px;
}

#wrapperLO3 aside {
	width: 500px;
	height: 500px;
	position: relative;
	background-color: #b94a48;
	float: left;
}

#wrapperLO3 aside article{
	width: 250px;
	height: 250px;
	background-color: #000000;
	position: relative;
	float: left;
}

#wrapperLO3 aside article:hover {
	background-color: #ffffff;
	opacity: 1;
}

#leftTopLO3 {
	opacity: 0.8;
}

#rightTopLO3 {
	opacity: 0.4;
}

#leftBottomLO3 {
	opacity: 0.2;
}

#rightBottomLO3 {
	opacity: 0.6;
}

.newBox {
	width: 250px;
	height: 250px;
	position: relative;
	background-color: #000000;
	float: left;
}


/*-----------------Desktop--------------*/
@media (min-width: 850px){

#wrapperLO3 header{
	width: 1000px;
	height: 500px;
	position: relative;
	float: left;
}

#wrapperLO3 main {
	width: 1000px;
	height: auto;
	min-height: 500px;
	position: absolute;
	background-color: #b94a48;
	top: 500px;
}

}

/*-----------------Mobile--------------*/
@media (max-width: 850px){

#wrapperLO3 header {
	width: 500px;
	height: 500px;
	position: relative;
	float: left;
	top: 0px;
}

#wrapperLO3 main {
	width: 500px;
	height: auto;
	min-height: 500px;
	position: absolute;
	background-color: #b94a48;
	top: 1000px;
	float: left;
}

}